$bg-img: url("../../images/background.jpg");
body {
  /* background-color: #1d1d1f; */
  background-color: darkslategrey;
}

.battle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.firstCharacter {
  display: flex;
  flex-direction: column;
}

.secondCharacter {
  display: flex;
  flex-direction: column;
}
