@import url("https://fonts.googleapis.com/css?family=Oxanium&display=swap");

.mainContainer {
  margin: auto;
  margin-top: 20px;
  display: flex;
  width: 90%;
  flex-direction: column;
}

.heroList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.filterContainer {
  display: flex;
  flex-direction: column;

  align-self: center;

  text-align: center;
}

.titleFilter {
  font-size: 1.8rem;
  margin: 0 0 8px;
  color: #f11e22;
  font-family: "Oxanium";
}
