$bg-img: url("../../images/background.jpg");
body {
  /* background-color: #1d1d1f; */
  background-color: #282828;
}

.battle {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
}

.myButton {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  background: #26971a;
  padding: 20px 30px;
  border-radius: 20px;
  font-size: 18px;
  border: none;
  transition: all 0.4s ease 0s;
  outline: none;
}
.myButton:hover {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
  background-color: rgb(101, 165, 40);
  -webkit-box-shadow: 0px 5px 40px -10px rgb(123, 202, 50);
  -moz-box-shadow: 0px 5px 40px -10px rgb(123, 202, 50);
  transition: all 0.4s ease 0s;
}
.myButton:active {
  position: relative;
  top: 1px;
}
